<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'twits/profile' %>
      <% else %>
        <%= render 'twits/trends' %>
      <% end %>

      <%= render 'twits/feed' %>
      <%= render 'twits/who-to-follow' %>
    </div>
  </div>
</section>
